body {
margin: 0px;
padding: 0px;
color: #FFFFFF;
font-family: 'Oswald', sans-serif;
}

.below {
padding:4px;
max-width:800px;
}

.formelem {
display:block;
}

div.options {}

.btn {
width:200px;
display:block;
}


html {
margin: 0px;
padding: 0px;
overflow-y: scroll;
}

#graphicsSpace {
margin: 0px;
padding-left: 0;
padding-right: 0;
text-align: center;
padding-top:0;
padding-bottom:0;
}


